<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/randomusers" routerLinkActive="active">Random Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reqres" routerLinkActive="active">Req res</a>
          </li>

          <div *ngIf="currentUser; else notLogged">
              <span>{{currentUser.nome}}</span>
              <button (click)="doLogout()">Logout</button>
              <img src="{{currentUser.imageUrl}}">
            </div>
            <ng-template #notLogged>
              <button (click)="doLogin()">Login</button>
            </ng-template>
          
        </ul>
      </div>
    </div>
  </nav>

